<header>
  <div class="btn-group">
    <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
      
    </button>
    <ul class="dropdown-menu">
      <li><a class="dropdown-item" href="#">Artistas</a></li>
      <li><a class="dropdown-item" href="#">Muestras</a></li>
      <li><a class="dropdown-item" href="#">Aplica</a></li>
      <li><a class="dropdown-item" href="#">Ferias</a></li>
      <li><a class="dropdown-item" href="#">Novedades</a></li>
    </ul>
  </div>
  <title>hola mundo</title>
</header>