<!DOCTYPE html>
<html lang="en">
<head>
  <%- include ('partials/head.ejs') %>
  <title>Aplicá</title>
</head>
<body class="aplicacion-artistas">
  <%- include ('partials/header.ejs') %>
  <form action="/artistas/aplicacionArtistas" method="POST" enctype="multipart/form-data">
    
    <div class="input-group">
      <span class="input-group-text">NAME</span>
      <input type="text" aria-label="First name" class="form-control" name="Nombre">
    </div>
    <br>
    <div class="mb-3">
      <label for="exampleFormControlInput1" class="form-label">Email address</label > 
      <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com" name="Email">
    </div>
    <br>
    <div class="mb-3">
      <label for="exampleFormControlTextarea1" class="form-label">descripcion</label>
      <input class="form-control" id="exampleFormControlTextarea1" rows="3" name="DescripcionArtista"></input>
    </div>
    <br>
    <div class="input-group mb-3">
      <label class="input-group-text" for="inputGroupFile01">Upload</label>

      <input type="file" class="form-control" id="inputGroupFile01" name="Imagen" multiple>

    </div>
    <input type="submit" value="Enviar" class="boton-submit">
  </form>
</body>
</html>