<!DOCTYPE html>
<html lang="en">
<head>
  <%- include ('partials/head.ejs') %>

  <title>HOLOGRAMA</title>


</head>
<body class="imagen-index">
  <!-- Incluye tu encabezado o navbar existente aquí -->
  <%- include ('partials/header.ejs') %>
  <!-- Agrega el botón para mostrar/ocultar el contenido -->
  <button id="toggleButton" class="custom-button centered">RANDOM</button>

  <!-- Agrega un div para el contenido del botón a la derecha -->
  <div class="content-right">
    <div class="container" style="display: none;"> <!-- Oculta el contenido por defecto -->
      <!-- Aplica la clase "content-window" al contenido para crear la ventana cuadrada -->
      <div class="content-window">
        <div class="row">
          <div class="fit-image">
            <img src="https://res.cloudinary.com/dpnrapsvi/image/upload/v1695168753/Artistas/i9qcnbfvugjtxdw2q1mo.png" class="img-fluid" alt="...">
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Agrega tus enlaces a JavaScript al final del cuerpo -->
  <script>
    // Función para mostrar u ocultar el contenido del "container"
    function toggleContainerVisibility() {
      const container = document.querySelector('.container');

      if (container.style.display === 'none' || container.style.display === '') {
        container.style.display = 'block'; // Mostrar el contenido del "container"
        document.getElementById('toggleButton').textContent = 'OCULTAR'; // Cambiar el texto del botón
      } else {
        container.style.display = 'none'; // Ocultar el contenido del "container"
        document.getElementById('toggleButton').textContent = 'RANDOM'; // Cambiar el texto del botón a "Randomize"
      }
    }

    // Agregar un evento de clic al botón para controlar la visibilidad del "container"
    const toggleButton = document.getElementById('toggleButton');
    toggleButton.addEventListener('click', toggleContainerVisibility);
  </script>
  </body>
</html>
