<!DOCTYPE html>
<html lang="en">
<head>
  <%- include ('partials/head.ejs') %>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Creación de Obra de Arte</title>
  <!-- Agrega los enlaces a las hojas de estilo de Bootstrap y otros recursos aquí -->
</head>
<body>
  <%- include ('partials/header.ejs') %>
  <div class="container">
    <h1>Crear Nueva Obra de Arte</h1>
    <form action="/obras/obras" method="POST" enctype="multipart/form-data">
      <div class="mb-3">
        <label for="Titulo" class="form-label">Título</label>
        <input type="text" class="form-control" id="Titulo" name="Titulo" required>
      </div>
      <div class="mb-3">
        <label for="Descripcion" class="form-label">Descripción</label>
        <textarea class="form-control" id="Descripcion" rows="3" name="Descripcion" required></textarea>
      </div>
      <div class="mb-3">
        <label for="FechaCreacion" class="form-label">Fecha de Creación</label>
        <input type="date" class="form-control" id="FechaCreacion" name="FechaCreacion" required>
      </div>
      <div class="mb-3">
        <label for="Precio" class="form-label">Precio</label>
        <input type="number" class="form-control" id="Precio" name="Precio" required>
      </div>
      <div class="mb-3">
        <label for="Imagen" class="form-label">Imagen</label>
        <input type="file" class="form-control" id="Imagen" name="Imagen" accept="image/*" required>
      </div>
      <button type="submit" class="btn btn-primary">Crear Obra de Arte</button>
    </form>
  </div>
  <!-- Agrega el pie de página o cualquier otro contenido adicional aquí -->
</body>
</html>
