<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/sketch.css">

    <title>Sketch</title>
    <%- include ('partials/head.ejs') %>
    <script src="/js/p5.min.js"></script>
    <script src="/js/p5.sound.min.js"></script>
  </head>

  <body>
    <%- include ('partials/header.ejs') %>

    <div id="sketch-container">
      <script src="/js/sketch.js"></script>
    </div>
    
    <h1></h1>

  </body>

</html>


