
nav {

  box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.2);
}


.navbar-toggler {
  position: absolute;
  top: 10px;
  left: 10px;
}



.navbar-nav {
  margin-top: 10px;
  padding-left: 10px;
  flex-direction: column;
  flex-grow: 1; 
}

.navbar-nav .nav-item {
  margin-left: 0;
}

.navbar-nav .nav-link {
  padding: 8px 15px;
}


.navbar-brand img {
  display: block;
  margin: 0 auto;
}


.content {
  margin-left: 250px; 
  padding: 15px;
}
